<header class="inner-container">
    
      <img class="logo-image" src="../images/logo_5_transp.png" alt="logo"/>
</header>
    <nav class="header-nav">
      
        <div>
            <a href="/">Recent</a>
            <a href="/authors">Authors</a>
            <a href="/books">Books</a></li>
            <a class="break-here" href="/authors/new">Add Author</a>
            <a href="/books/new">Add Book</a>
        </div>
        
    </nav>
