{{> header }}

<h2 class="page-header">New Author</h2>

<div class="error-message">{{errorMessage}}</div>
<form action="/authors" method="POST" encypte="multipart/form-data">
    {{>formFieldsAuthor}}
    <div class="form-row form-row-end btn-row form-row-first ">
        <a href="/authors" class="btn btn-danger">Cancel</a>
        <button class="btn btn-primary btn-main " type="submit">Create</button>
    </div>

</form>

{{>footer}}